// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grey: #F5F5F5;
$lightgrey: #F8F9FA;

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.main-container {
  margin: 10px auto;
}
.card {
  border: solid 1px $grey;
  border-radius: 4px;
  margin: 10px;
  width: 30vw;
  padding: 0;
}
.icons {
  display: flex;
  flex-gap: 10px;
}
.icons > p {
  margin: 10px;
}
.infos {
  background-color: $lightgrey;
  margin: 0;
}
